[Desktop Entry]
Name=SpaceFM Open Folder
Comment=Open folder
TryExec=spacefm
Exec=spacefm %U
NoDisplay=true
Terminal=false
Icon=spacefm
StartupNotify=true
Type=Application
MimeType=inode/directory;

