Source: spacefm
Section: utils
Priority: optional
Maintainer: Mateusz Łukasik <mati75@linuxmint.pl>
Build-Depends: debhelper (>= 9), autotools-dev, 
 libgtk2.0-dev (>= 2.24), libcairo2-dev, libpango1.0-dev, 
 libx11-dev, intltool, pkg-config,  libglib2.0-dev, 
 libstartup-notification0-dev, libdbus-1-dev, 
 libgdk-pixbuf2.0-dev, libudev-dev, hicolor-icon-theme
Standards-Version: 3.9.4
Homepage: http://ignorantguru.github.com/spacefm/
Vcs-Git: git://github.com/mati75/spacefm.git
Vcs-Browser: https://github.com/mati75/spacefm.git

Package: spacefm
Architecture: any
Depends: dbus, desktop-file-utils, bash, shared-mime-info, libgtk2.0-bin, 
 ${misc:Depends}, ${shlibs:Depends}
Recommends: udisks | udisks2, sshfs, hicolor-icon-theme | faenza-icon-theme
Suggests: udevil, pmount, eject, lsof, wget, ktsuss, gksu
Conflicts: spacefm-hal, spacefm-gtk3
Description: Multi-panel tabbed file manager with built-in VFS, udev-based
 device manager, customizable menu system, and bash integration.
 .
 SpaceFM was developed from a fork of the legacy PCManFM file manager. When 
 PCManFM reached version 0.5.2 (aka 'the legacy version'), the original author 
 (Hon Jen Yee) abandoned it for a major rewrite which made later versions 
 (the 0.9.x series) dependent on gvfs and other components. At about this same 
 time, PCManFM-Mod was created as a minor fork of the legacy version which added 
 features, addressed bugs, and kept the legacy version alive for those who 
 preferred it for its light dependencies and added features.
